* {
  margin: 0;
  font-family: Helvetica, sans-serif;
  color: black;
}

/* Nav Bar */

.logo {
  background: rgb(216, 243, 220);
  color: black;
  display: flex;
  margin-right: auto;
  justify-content: center;
}

.navbar-bg {
  background: rgb(216, 243, 220);
  width: 100vw; /* Set background to full viewport width */
}

.navbar {
  max-width: 85vw;
  background: rgb(216, 243, 220);
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 30px;
  /* margin-bottom: 20px; */
}

.navbar ul {
  background: rgb(216, 243, 220);
  display: flex;
  justify-content: center; /* Horizontally 
  center the flex items */
  list-style-type: none; /* Remove bullet */
  text-decoration: none;
}

.navbar ul li {
  color: black;
  background: rgb(216, 243, 220);
  padding: 24px;
  text-decoration: none;
}

.navbar ul li a {
  background: rgb(216, 243, 220);
  text-decoration: none;
}

.navbar ul li a.active {
  color: rgb(154, 55, 72); /* Change color to highlight */
  font-weight: bold; /* Add emphasis */
  text-decoration: underline;
}

/* Nav Bar */

.container {
  max-width: 85vw;
  margin: auto;
  box-sizing: border-box;
  padding: 30px;
}

h2 {
  color: rgb(82, 121, 111);
}

h3 {
  color: rgb(82, 121, 111);
}

/* colours:
lightest green : 244, 255, 244
light green: 163, 177, 138
med green: 88, 129, 87
dark green: 58, 90, 64
darkest green: 52, 78, 65 */
